<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-login</title>
    <link rel="stylesheet" href="/adLogin.css">
</head>
<body>
    <h1>Admin Portal</h1>
    <input class="adName" type="text" placeholder="user name" name="user name" required>
    <div class="emailErr"></div>
    <input class="adPass" type="password" placeholder="Enter Password" name="password" required>
    <div class="passErr"></div>
    <button class="adBtn" ><p>Login</p></button>
    <p class="have">Don't have an account, <a href="/adSignup">Sign up</a>.</p>
    <p class="back">Back to <a href="/login">login</a> page</p>

    <script src="/adLogin.js"></script>
</body>
</html>