<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="img-side">
        <p></p>
    </div>
    <div class="begin">
        <header>
            <div class="inTop">
                <div class="opener"><label for="check" class="fa fa-bars" id="menu-icon"></label></div>
                <a class="logo" href="/"><i id="fa" class="fa fa-home"></i>(-|irwa</a>
                <div class="pimage"></div>
            </div>
            <nav>
                <ul class="navBar">
                    <li class="home"><a href="/"><i id="fb" class="fa fa-home"></i>(-|irwa</a></li>
                    <li><a href="/about"><i id="fc" class="fa fa-address-book" aria-hidden="true"></i> About Me</a></li>
                    <li><a href="/skills"><i id="fd" class="fa fa-lightbulb-o"></i>Skills</a></li>
                    <li><a href="/portfolio"><i id="fe" class="fa fa-briefcase"></i> Portfolio</a></li>
                    <li><a href="/blogs"><i id="ff" class="fa fa-th-large"></i>Blogs</a></li>
                    <li><a href="/contact" class="active"><i id="fg" class="fa fa-usb"></i>Contact Me</a></li>
                </ul>
            </nav>
        </header>
        <div class="nav-img">
            <p></p>
        </div>
    </div>
    <div class="contAll">
        <div class="below-nav">
            <div class="subscribe">
                <div class="writing">
                    <p class="sentence">Should you have any question or message, feel free to use this form.</p>
                    <div class="email">
                        <img src="/email-input.png" alt="email">
                        <input class="contactEmail" type="email" placeholder="Enter your email" required>
                    </div>
                    <div class="name">
                        <img src="/name.png" alt="name">
                        <textarea class="query" type="text" placeholder="Write your message here"></textarea>
                    </div>
                    <button id="submitBtn">
                        <p>Submit</p>
                    </button>
                </div>
                <img class="usb" src="/usb-4.png" alt="">
            </div>
            <div class="social">
                <a href="mailto:arnold.hirw@gmail.com" target="_blank"><img src="/gmail-2.png" alt="link to email"></a>
                <a href="https://www.linkedin.com/in/hategekimana-hirwa-arnold-7464bb229/" target="_blank"><img
                        src="/linkedin-2.png" alt="link to linkedIn"></a>
                <a href="https://github.com/hategekimanahirwaarnold/" target="_blank"><img src="/github-1.png" alt="link to github"></a>
                <a href="tel:+250780395904" target="_blank"><img src="/watsap.png" alt="link to phone number"></a>
                <a href="https://twitter.com/hirwa_arnold" target="_blank"><img src="/twitter.png" alt="link to twitter"></a>
                <a href="https://web.facebook.com/arnold.hat.9" target="_blank"><img src="/facebook-2.png" alt="link to facebook"></a>
            </div>
            <div class="pimage2"></div>
        </div>
    </div>
    <div class="img-right">
        <p></p>
    </div>

    <script src="./contact.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/home.js"></script>
</body>

</html>