<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures-Arnold Hirwa Hategekimana</title>
    <link rel="stylesheet" href="/pictures.css">
</head>
<body>
    <div class="begin">
        <nav>
            <ul>
                <li><a href="/portfolio">Back</a></li>
            </ul>
        </nav>
    </div>
    <div class="belownav">
        <div class="content">
            <div class="box">
                 <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/XqzncQCq4v1oFk3r8">
                        <img  src="https://res.cloudinary.com/dqoyxafc1/image/upload/v1679906081/mosk6ngapwroufjeoeed.jpg" alt="A glimpse inside math camps: Hirwa Arnold">
                    </a>
                </div>
                <p class="describe">
                    A glimpse inside Math camps. From there, we find joy and work!
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/7tqCSjdEAuDaqqhK8">
                        <img src="/noPlan.jpg" alt="Things we don't plan sometimes happens outstandingly!">
                    </a>
                </div>
                <p class="describe">
                   This image reminds me that sometimes things we didn't plan happens more outstandingly than those we have
                   planned.
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a href="https://photos.app.goo.gl/Ay9tbPXN3JKhRtwS6">
                        <img  src="/meHappy2.jpg" alt="Hirwa making students at camp happy: Hirwa Arnold">
                    </a>
                </div>
                <p class="describe">
                    Me making people (students who participated in RwMO camp at Kagarama High School) happy. 
                    It is such a rewarding gift to see smiles that came from your plans.
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/dnibUi6EP6qT6TBFA">
                        <img  src="/pssvNdera2.jpg" alt="Fellow mathematicians from the same high school">
                    </a>
                </div>
                <p class="describe">
                    Here I was with my friends with whom I studied in high school. They remind me the "MAESTAS" which is 
                    possessed by few people in this universe. 
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/dnibUi6EP6qT6TBFA">
                        <img  src="/inVillage2.jpg" alt="villagers from Hirwa's village sitting together in a conversation">
                    </a>
                </div>
                <p class="describe">
                    I like to see people from my village sitting together to find a way forward. Unity on the top!
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/ujHPbAg3egCnBETY7">
                        <img  src="/Apiono.jpg" alt="Hirwa's playing piano in Holy Mass.">
                    </a>
                </div>
                <p class="describe">
                    Me playing piano in Holy Mass. Sometimes I think that helping a congregation to have
                    a smooth discussion with God quadruples my blessings, but is it true?
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/dnibUi6EP6qT6TBFA">
                        <img  src="/techJob.jpg" alt="Hirwa concentrated in coding-Hirwa Arnold">
                    </a>
                </div>
                <p class="describe">
                    While some people have started to worry that technology is taking up their jobs,
                    for us, it is giving us much more job!
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/dnibUi6EP6qT6TBFA">
                        <img  src="/doSmthg.jpg" alt="A reminder to do something-Hirwa Arnold">
                    </a>
                </div>
                <p class="describe">
                    This image reminds me that I have to do something.
                </p>
            </div>
            <div class="box">
                <div class="inImg">
                    <a target="_blank" href="https://photos.app.goo.gl/dnibUi6EP6qT6TBFA">
                        <img  src="/inFor.jpg" alt="The place where Hirwa composed his first instrumental music-Hirwa Arnold">
                    </a>
                </div>
                <p class="describe">
                    Contemplating the beauty of environment, this is where I sat when I was composing my first instrumental music.
                </p>
            </div>
        </div>
    </div>
</body>
</html>