<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link rel="stylesheet" href="/portfolio.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="img-side">
    <p></p>
  </div>
  <div class="begin">
    <header>
      <div class="inTop">
        <div class="opener"><label for="check" class="fa fa-bars" id="menu-icon"></label></div>
        <a class="logo" href="/"><i id="fa" class="fa fa-home"></i>(-|irwa</a>
        <div class="pimage"></div>
      </div>
      <nav>
        <ul class="navBar">
          <li class="home"><a href="/"><i id="fb" class="fa fa-home"></i>(-|irwa</a></li>
          <li><a href="/about"><i id="fc" class="fa fa-address-book" aria-hidden="true"></i> About Me</a></li>
          <li><a href="/skills"><i id="fd" class="fa fa-lightbulb-o"></i>Skills</a></li>
          <li><a href="/portfolio" class="active"><i id="fe" class="fa fa-briefcase"></i> Portfolio</a></li>
          <li><a href="/blogs"><i id="ff" class="fa fa-th-large"></i>Blogs</a></li>
          <li><a href="/contact"><i id="fg" class="fa fa-usb"></i>Contact Me</a></li>
        </ul>
      </nav>
    </header>
    <div class="nav-img">
      <p></p>
    </div>
  </div>
  <div class="contAll">
    <div class="below-nav">
      <div class="left-side">
        <a href="/websites" class="links">
          <div class="top">
            <div class="cycle"> </div>
            <div class="p1">INSIDE WEBSITES</div>
          </div>
        </a>
        <a href="/arts" class="links">
          <div class="bottom">
            <div class="cycle-2"></div>
            <div class="p2">VISIT MY ARTS</div>
          </div>
        </a>
      </div>
      <div class="right-side">
        <a href="/pictures" class="links">
          <div class="top">
            <div class="cycle-3"> </div>
            <div class="p1">VIEW MY PICTURES</div>
          </div>
        </a>
        <a href="/videos" class="links">
          <div class="bottom">
            <div class="cycle-4"></div>
            <div class="p2">WATCH MY VIDEOS</div>
          </div>
        </a>
      </div>
      <div class="pimage2"></div>
    </div>
  </div>
  <div class="img-right">
    <p></p>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/home.js"></script>
</body>

</html>