<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queries</title>
    <link rel="stylesheet" href="./query.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <input type="checkbox" id="check">
    <label for="check"  class="fa fa-bars" id="menu-icon"></label>
    <nav>
        <div class="logo">
            <h1><a href="/admin/">HIRWA</a></h1>
        </div>
        <ul>
            <li><a href="/create" ><i class="fa fa-th-large"></i> Blogs</a></li>
            <li><a href="/query" class="active" ><i class="fa fa-question-circle" ></i> Querries</a></li>
            <li><a href="/accounts" ><i class="fa fa-sign-in" ></i> Accounts</a></li>
            <li><a href="/manage" ></i> Manage</a></li>
        </ul>
    </nav>
    <div class="aside-nav">  
      <div class="query">
          <div class="left">
              <h4>hirwaarnold@gmail.com</h4>
              <div class="inquiry">
                <p>hey there arnold would you consider buying for me many cars including a red one</p>
              </div>
          </div>
          <div class="right">
            <textarea name="Reply" placeholder="Reply" id="reply" cols="30" rows="10"></textarea>
            <div class="Btn"><button id="replyBtn" ><p>Send</p></button></div>
          </div>
          <div class="delete"><i class="fa fa-trash"></i></div>
      </div>
       
    </div>    
    
    <script src="/query.js"></script>
</body>
</html>