<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures-Arnold Hirwa Hategekimana</title>
    <link rel="stylesheet" href="/pictures.css">
</head>
<body>
    <div class="begin">
        <nav>
            <ul>
                <li><a href="/portfolio">Back</a></li>
            </ul>
        </nav>
    </div>
    <div class="belownav">
        <div class="content">
           <p>As of now, there are no videos to display. However, they are coming soon; stay tuned</p>
        </div>
    </div>
</body>
</html>