@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
html {
    margin: 0px;
    padding: 0px;
    min-width: 300px;
}

body {
    font-family: 'Noto Serif', serif;
    font-family: 'Playfair Display', serif;
    display: grid;
    color: black;
    margin: 0;
    padding: 0;
    background: url("/background-all") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    position: relative;
    min-width: 300px;
}
.img-side {
    padding: 0;
    background: url("/colors-Rw.jfif") repeat;
    background-attachment: fixed;
    background-size: 22%;
    bottom: 0;
    top: 0;
    width: 3em;
    position: absolute;
    height: 100%;
}

.img-right {
    margin: 0 0 0px 0;
    padding: 0;
    background: url("/colors-Rw.jfif") repeat;
    background-attachment: fixed;
    background-size: 22%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3em;
    position: absolute;
    height: 100%
}
.begin {
    display: grid;
    height: 100px;
    margin: 0px 0 0 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0em 0;
    margin-top: 0em;
}
.nav-img {
    background-image: url("/colors-Rw.jfif");
    width: 100%;
    height: 1.5em;
    margin: 0px 0 0 0;
    padding: 0;
}
.inTop {
    display: flex;
}
.begin img {
    display: none;
}
.opener {
    font-size: 2.5em;
    color: black;
    margin: 0;
    padding: 0;
    display: none;
}
#menu-icon {
    cursor: pointer;
}


.logo {
    text-decoration: none;
    color: black;
    font-size: 31px;
    padding: 6px 20px;
    margin: 0px 0px 0px 70px;
    text-transform: uppercase;
    transition: all .3s;
}

.logo:hover {
    background-color: white;
 /*   box-shadow: 3px -3px gray; */
    border-radius: .4em;
    color: gray;
}
.home {
    font-size: 25px;
    display: none;
} 

nav {
    margin-right: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin: 0 30px 0 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    padding: 8px 9px;
    border-radius: .3em;
    transition: all .3s;
}
nav ul li a:hover {
    background-color: white;
    color: gray;
}
.active {
    background-color: gray;
    color: white;
}
 #fa, #fb, #fc, #fd,#fe, #ff, #fg, .pimage, .pimage2, .opener {
    display: none;
}
.below-nav {
    background-image: url("/A\ book\ 2-my\ brand\ \(2\).jfif");
    background-repeat: no-repeat;
    border-radius: 1vw;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    width: 900px;
    height: 81vh;
    display: flex;
    margin: 5px auto;
    opacity: 80%;
    height: 600px;
    justify-content: space-evenly;
}
.left-side  {
    overflow: auto;
    height: 100%;
    padding: 0;
    padding-left: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
    width: 100%;
    margin: auto;
}
.blogs {
    padding: 0;
    margin: 0;
    width: fit-content;
    height: fit-content;
}
.left-side .post {
    height: 270px;
    width: 320px;
    background-color: #D9D9D9;
    margin: 1em;
    border-radius: .5vw;
    box-shadow: -3px -4px gray;
    display: block;
    gap: 15px;
}

.post:nth-child(even) {
    margin-left: 120px;
}
.below-nav header{
    text-transform: uppercase;
    margin: -10px auto 10px auto;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.cycle {
    height: 90px;
    width: 290px;
    background: url("/datamanager.jfif");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 0;
    margin: auto auto 10px auto;
    border: .2vw solid black;
}
.p, .p2 {
    margin: 0 auto;
    height: 100px;
    width: 290px;
    font-size: 12px;
    overflow-y: auto;
}
.below-nav a {
    margin: 10px auto;
    font-size: 12px;
    color: blue;
}
.cycle-2 {
    height: 90px;
    width: 290px;
    background: url("/datamanager.jfif");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 0;
    margin: auto auto 10px auto;
    border: .2vw solid black;
}
.cycle-3 {
    height: 90px;
    width: 290px;
    background: url("/datamanager.jfif");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 0;
    margin: auto auto 10px auto;
    border: .2vw solid black;
}
.cycle-4 {
    height: 90px;
    width: 290px;
    background: url("/datamanager.jfif");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    padding: 0;
    margin: auto auto 10px auto;
    border: .2vw solid black;
}

@media (max-width: 1060px) {
    .logo {
        margin-left: 55px;
    }
    nav ul li a {
        font-size: 19px;
        padding: 5px;
    } 
    .img-side, .img-right {
        width: 2.3em;
    }
    nav ul {
        gap: 1em;
        margin-right: 0px;
    }
    .below-nav {
        width: 700px;
    }
    .left-side .post{
        width: 280px;
    }
   
    .post:nth-child(even) {
        margin-left: 55px;
    }
    .post:nth-child(odd) {
        margin-left: 0;
    }
    .left-side {
        padding: 0px 0 10px 37px;
    }
    .cycle, .cycle-2, .cycle-3, .cycle-4 {
        width: 270px;
    }
    .p, .p2 {
        width: 270px;
    }
    
}

@media all and (max-width: 780px) {
  .begin .top {
        gap: 10px;
    }
     .pimage {
        background: url("/colors-Rw\ 3.jfif") repeat;
        padding: 0;
        background-position: top;
        background-size: 25%;
        background-attachment: fixed;
        margin: -20px 0 0 0;
        display: inline;
        height: 60px;
        width: 80vw;
        opacity: 10%;
    }
    .pimage2 {
        background: url("/colors-Rw\ 3.jfif") repeat;
        padding: 0;
        background-position: top;
        background-size: 30%;
        margin: 0 0 -30px 0;
        bottom: 0;
        display: inline;
        height: 65px;
        width: 100vw;
        opacity: 10%;
        position: relative;
    }
   .opener {
        color: black;
        font-size: 8vw;
        cursor: pointer;
        transition: all .5s ease;
        width: fit-content;
        height: fit-content;
        display: inline;
        padding: 0;
        margin: -20px 0 0 6vw;
        top: 0;
    }
    #fa, #fb, #fc, #fd,#fe, #ff, #fg {
        display: inline;
    }
    
    .img-right, .img-side {
        opacity:20%;
        background-attachment: fixed;
        width: 6vw;
    }
     .nav-img {
        display: none;
    }
    .logo {
        display: none;
    }
   
    header {
        display: grid;
        gap: 2em;
    }
    .navBar {
        background: url("/background-all") no-repeat;
        display: grid;
        gap: 0em;
        position: relative;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        margin: -30px 0 0 0;
        padding: 10px;
        transition: all .5s ease;
        left: -100%;
        width: 70vw;
        height: 85vh;
        overflow: auto;
    }
    
    nav ul li{
        margin: auto auto auto 20vw;
        height: fit-content;
    }
    nav ul li a{
        font-size: 5vw;
        padding: auto;
    }
   
    .home {
        display: inline;
    }
   
    .below-nav {
        text-align: center;
        display: grid;
        gap: 1em;
        opacity: 100%;
        background: none;
        width: 100vw;
        margin: -40px 0 0 0;
        padding: 0;
        overflow: auto;
        height: 90vh;
    }
    .left-side {
        gap: 6vw;
        margin: 0;
        padding: 30px 0;
    }
    .left-side .post{
        width: 70vw;
        margin: auto;
    }
    .cycle, .cycle-2, .cycle-3, .cycle-4 {
        width: 65vw;
    }
    .p, .p2{
        width: 65vw;
    }
}
